pkgbase = catos-branding
	pkgdesc = CatOS branding
	pkgver = 1.0
	pkgrel = 6
	url = https://github.com/CatOS-dev/catos-branding
	install = catos-branding.install
	arch = any
	license = GPL
	makedepends = git
	source = git+https://github.com/CatOS-dev/catos-branding.git
	sha256sums = SKIP

pkgname = catos-branding
