pkgbase = catos-bash-config
	pkgdesc = Bash configuration for CatOS
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/CatOS-dev/catos-bash-config
	install = catos-bash-config.install
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = bash
	depends = bat
	depends = expac
	depends = eza
	depends = fastfetch
	depends = pkgfile
	depends = starship
	depends = zoxide
	optdepends = direnv: per-directory environment integration
	optdepends = hwinfo: hardware summary alias
	optdepends = openbsd-netcat: termbin alias
	source = git+https://github.com/CatOS-dev/catos-bash-config.git
	sha256sums = SKIP

pkgname = catos-bash-config
