pkgbase = noctalia-greeter
	pkgdesc = A minimal greetd login greeter matching Noctalia Shell
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/noctalia-dev/noctalia-greeter
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = ninja
	makedepends = nlohmann-json
	makedepends = pkgconf
	makedepends = stb
	makedepends = tomlplusplus
	makedepends = wayland-protocols
	depends = bash
	depends = cairo
	depends = dbus
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = greetd
	depends = harfbuzz
	depends = libglvnd
	depends = libinput
	depends = librsvg
	depends = libwebp
	depends = libxkbcommon
	depends = pango
	depends = polkit
	depends = ripgrep
	depends = wayland
	depends = wlroots0.20
	provides = noctalia-greeter=1.0.0
	conflicts = noctalia-greeter-git
	source = noctalia-greeter-1.0.0.tar.gz::https://github.com/noctalia-dev/noctalia-greeter/archive/refs/tags/v1.0.0.tar.gz
	source = disable-native-optimizations.patch
	source = disable-source-tree-assets.patch
	source = noctalia-greeter.conf
	sha256sums = 974c0adc444dbe63be38d60f2ae0eedbd97cf1fc5844a9f022a7468b0a495ba3
	sha256sums = 17694b3f0648843e5c37c80ef766b64725f365e4c2445c79433370cd66f3f50a
	sha256sums = d05fc3bf99acbeff393768d909f040bee81c34daf8c637e45edd0e0512726d86
	sha256sums = 420266cca341af8ea3513508340828d74a98edb24d1018c59ec547bf759b9909

pkgname = noctalia-greeter
