pkgbase = noctalia
	pkgdesc = A sleek, customizable desktop shell crafted for Wayland
	pkgver = 5.0.0_beta.5
	pkgrel = 1
	url = https://github.com/noctalia-dev/noctalia
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = ninja
	makedepends = nlohmann-json
	makedepends = pkgconf
	makedepends = stb
	makedepends = wayland-protocols
	depends = bash
	depends = cairo
	depends = curl
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libqalculate
	depends = libsecret
	depends = libsodium
	depends = libwebp
	depends = libxkbcommon
	depends = libxml2
	depends = librsvg
	depends = md4c
	depends = pam
	depends = pango
	depends = pipewire
	depends = polkit
	depends = sdbus-cpp
	depends = tomlplusplus
	depends = wayland
	depends = wireplumber
	optdepends = ddcutil: external monitor brightness control
	optdepends = git: plugin sources and plugin updates
	optdepends = gnome-keyring: Secret Service provider
	optdepends = keepassxc: alternative Secret Service provider
	optdepends = upower: battery and power-device information
	provides = noctalia=5.0.0_beta.5
	conflicts = noctalia-git
	source = noctalia-5.0.0_beta.5.tar.gz::https://github.com/noctalia-dev/noctalia/archive/refs/tags/v5.0.0-beta.5.tar.gz
	source = disable-source-tree-assets.patch
	sha256sums = 1460781135969e9a8985c2c7343131df69f5b8595e8428cfdc416f85585b9447
	sha256sums = 3f9e6c29198fda20845831f22ef29141f8f66a05f182dcfe40762cea85c63895

pkgname = noctalia
