pkgbase = sdboot-btrfs
	pkgdesc = Generate systemd-boot entries for Btrfs snapshots
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/CatOS-dev/sdboot-btrfs
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = rust
	depends = btrfs-progs
	depends = gcc-libs
	depends = glibc
	depends = systemd
	depends = util-linux
	optdepends = doas: privilege escalation when run as a user
	optdepends = snapper: Snapper catalog compatibility and event plugin
	optdepends = sudo: privilege escalation when run as a user
	options = !debug
	backup = etc/sdboot-btrfs.conf
	source = git+https://github.com/CatOS-dev/sdboot-btrfs.git
	sha256sums = SKIP

pkgname = sdboot-btrfs
