pkgbase = catos-secureboot
	pkgdesc = CatOS Secure Boot key, MOK, EFI image and external module lifecycle manager
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/CatOS-dev/CatOS-PKGBUILD/tree/main/catos-secureboot
	arch = x86_64
	license = GPL-3.0-or-later
	license = BSD-2-Clause-Patent
	depends = python
	depends = openssl
	depends = mokutil
	depends = sbsigntools
	depends = binutils
	depends = kmod
	depends = zstd
	depends = xz
	depends = gzip
	depends = mkinitcpio
	depends = efibootmgr
	depends = util-linux
	optdepends = linux-headers: sign external modules for the linux kernel
	optdepends = dkms: build third-party modules before CatOS signs them
	optdepends = grub: rebuild GRUB with the CatOS Secure Boot module set before signing
	options = !strip
	backup = etc/catos/secureboot.conf
	source = shim-x64-16.1-5.x86_64.rpm::https://dl.fedoraproject.org/pub/fedora/linux/releases/44/Everything/x86_64/os/Packages/s/shim-x64-16.1-5.x86_64.rpm
	sha256sums = a1bbabaca8e4398b2483c678240f4be4803e91390b512a7b618da3bc88e49917

pkgname = catos-secureboot
