pkgbase = catos-sway-settings
	pkgdesc = CatOS ready-to-use Sway session preset
	pkgver = 1.0.0
	pkgrel = 5
	url = https://github.com/CatOS-dev/catos-sway-settings
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = sway
	depends = swaybg
	depends = catos-waybar-settings
	depends = catos-branding
	depends = mako
	depends = fuzzel
	depends = foot
	depends = swayidle
	depends = swaylock
	depends = polkit-gnome
	depends = xdg-desktop-portal-wlr
	depends = xdg-desktop-portal-gtk
	depends = dbus
	optdepends = wdisplays: graphical output configuration
	optdepends = thunar: default file manager shortcut
	optdepends = grim: screenshot capture
	optdepends = slurp: interactive screenshot region selection
	optdepends = swappy: screenshot annotation
	optdepends = wl-clipboard: Wayland clipboard tools
	optdepends = brightnessctl: hardware brightness shortcuts
	optdepends = playerctl: media key support
	optdepends = wireplumber: wpctl audio shortcuts and Waybar audio status
	optdepends = network-manager-applet: network tray applet and connection editor
	optdepends = blueman: Bluetooth tray applet and manager
	optdepends = pavucontrol: graphical audio mixer
	optdepends = xorg-xwayland: X11 application support
	optdepends = xdg-user-dirs: standard user directory discovery
	optdepends = catos-gtk-settings: CatOS GTK appearance
	optdepends = catos-bibata-cursor: CatOS cursor theme
	optdepends = catos-tela-icon-theme-blue: CatOS icon theme
	source = git+https://github.com/CatOS-dev/catos-sway-settings.git
	sha256sums = SKIP

pkgname = catos-sway-settings
