pkgbase = catos-fish-config
	pkgdesc = Fish configuration for CatOS
	pkgver = 3.0
	pkgrel = 1
	url = https://github.com/CatOS-dev/catos-fish-config
	arch = any
	license = GPL-3.0-or-later
	license = MIT
	makedepends = git
	depends = bat
	depends = expac
	depends = eza
	depends = fastfetch
	depends = fish
	depends = fisher
	depends = fzf
	depends = libnotify
	depends = pkgfile
	depends = starship
	depends = tealdeer
	depends = zoxide
	optdepends = direnv: per-directory environment integration
	optdepends = hwinfo: hardware summary alias
	optdepends = jq: focused-window detection under Sway and Kitty
	optdepends = openbsd-netcat: termbin alias
	source = git+https://github.com/CatOS-dev/catos-fish-config.git
	sha256sums = SKIP

pkgname = catos-fish-config
