pkgbase = catos-distroshelf
	pkgdesc = A GUI for Distrobox containers
	pkgver = 1.3.0
	pkgrel = 2
	url = https://github.com/Aromatic05/DistroShelf
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = meson
	depends = distrobox
	depends = gtk4
	depends = libadwaita
	depends = vte4
	depends = which
	source = DistroShelf-1.3.0.tar.gz::https://github.com/Aromatic05/DistroShelf/archive/refs/tags/1.3.0.tar.gz
	source = linuxbox.menu
	sha256sums = 836d2cb94d6b7932ac715ec2ab57f8c4a36263ff96845af677479f45c62cff2e
	sha256sums = abe871bac17c4a384b631f517db57d1b28da43e9fb56fec13d22a89eecce3f52

pkgname = catos-distroshelf
