pkgbase = catos-kde-theme
	pkgdesc = CatOS KDE theme
	pkgver = 1.0
	pkgrel = 5
	url = https://github.com/CatOS-dev/catos-kde-theme
	arch = any
	license = GPL
	makedepends = git
	depends = catos-branding
	source = git+https://github.com/CatOS-dev/catos-kde-theme.git
	sha256sums = SKIP

pkgname = catos-kde-theme
