pkgbase = catos-fcitx5-config
	pkgdesc = CatOS Fcitx5 settings
	pkgver = 2.0
	pkgrel = 4
	url = https://catos.info
	install = catos-fcitx5-config.install
	arch = any
	license = GPL
	depends = fcitx5
	depends = fcitx5-configtool
	depends = fcitx5-gtk
	depends = fcitx5-qt
	depends = fcitx5-chinese-addons
	depends = fcitx5-pinyin-moegirl
	depends = fcitx5-pinyin-zhwiki
	depends = fcitx5-material-color
	source = config
	source = classicui.conf
	source = im-env.desktop
	source = im-env.sh
	sha256sums = 174a77914bbe3c52ce8322a7a0010475a2496678d00df6d5074fbb0260157852
	sha256sums = a8f6a968540db4316b933e60a26cb0c79eaa5bd7ee0774b8dde573612138c124
	sha256sums = b81acbba84ef57037227466cecc27c77d6eda9bf81862214f136f08589ce612a
	sha256sums = 38f451701d4fbd50dbc681902ac5d723b17aa3be9389c7ee8d76554d06fbd9c5

pkgname = catos-fcitx5-config
