pkgbase = catos-niri-noctaliav5
	pkgdesc = CatOS Niri desktop profile powered by Noctalia v5
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/CatOS-dev/catos-niri-noctaliav5
	arch = any
	license = GPL-3.0-only
	makedepends = git
	depends = adw-gtk-theme
	depends = brightnessctl
	depends = catos-bibata-cursor
	depends = catdot
	depends = dconf
	depends = fcitx5
	depends = fuzzel
	depends = kitty
	depends = niri
	depends = noctalia
	depends = orca
	depends = playerctl
	depends = polkit-gnome
	depends = qt5ct
	depends = qt6ct
	depends = wireplumber
	depends = xdg-desktop-portal-gnome
	depends = xdg-desktop-portal-gtk
	depends = xwayland-satellite
	source = git+https://github.com/CatOS-dev/catos-niri-noctaliav5.git
	sha256sums = SKIP

pkgname = catos-niri-noctaliav5
