pkgbase = catos-hyprland-noctaliav5
	pkgdesc = CatOS Hyprland desktop profile powered by Noctalia v5
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/CatOS-dev/catos-hyprland-noctalia-v5
	arch = any
	license = MIT
	checkdepends = python
	makedepends = git
	depends = adw-gtk-theme
	depends = breeze
	depends = breeze-gtk
	depends = breeze5
	depends = brightnessctl
	depends = catos-bibata-cursor
	depends = catdot
	depends = cava
	depends = dconf
	depends = gnome-keyring
	depends = grim
	depends = hyprland
	depends = kitty
	depends = nautilus
	depends = noctalia
	depends = papirus-icon-theme
	depends = playerctl
	depends = qt6-multimedia
	depends = qt6ct-kde
	depends = slurp
	depends = swappy
	depends = wireplumber
	depends = wtype
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-hyprland
	source = catos-hyprland-noctaliav5::git+https://github.com/CatOS-dev/catos-hyprland-noctalia-v5.git
	sha256sums = SKIP

pkgname = catos-hyprland-noctaliav5
