pkgbase = catos-calamares
	pkgdesc = Distribution-independent installer framework
	pkgver = 26.07
	pkgrel = 6
	url = https://github.com/CatOS-dev/calamares
	arch = x86_64
	license = BSD-2-Clause
	license = MIT
	license = CC-BY-4.0
	license = CC0-1.0
	license = GPL-3.0-or-later
	license = LGPL-2.1-only
	license = LGPL-3.0-or-later
	makedepends = git
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = qt6-translations
	makedepends = qt6-tools
	depends = sh
	depends = icu
	depends = kpmcore
	depends = libpwquality
	depends = yaml-cpp
	depends = qt6-base
	depends = kcoreaddons
	depends = qt6-svg
	depends = kirigami
	depends = python
	depends = gcc-libs
	depends = glibc
	depends = qt6-declarative
	depends = libxcrypt
	depends = kcrash
	depends = hicolor-icon-theme
	depends = parted
	depends = kio
	depends = efibootmgr
	depends = gtk-update-icon-cache
	depends = hwinfo
	depends = squashfs-tools
	depends = kconfig
	depends = ki18n
	depends = kiconthemes
	depends = polkit-qt6
	depends = solid
	depends = kparts
	optdepends = ckbcomp: keyboard preview support
	source = calamares::git+https://github.com/CatOS-dev/calamares.git
	source = calamares_polkit
	source = 49-nopasswd-calamares.rules
	sha256sums = SKIP
	sha256sums = c176b28007bd1c1f23d8dbb2c936fa54d0c01bacfb67290ddad597606c129df3
	sha256sums = 56d85ff6bf860b9559b8c9f997ad9b1002f3fccc782073760eca505e3bddd176

pkgname = catos-calamares
