pkgbase = catos-niri-dms
	pkgdesc = Complete CatOS Niri + DMS Profile
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/CatOS-dev/catos-niri-dms
	arch = any
	license = MIT
	license = GPL
	makedepends = git
	depends = catdot
	depends = niri
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-gnome
	depends = dms-shell-niri>=1.5.1
	depends = matugen
	depends = cava
	depends = cliphist
	depends = cups-pk-helper
	depends = i2c-tools
	depends = power-profiles-daemon
	depends = qt6-multimedia
	depends = wtype
	depends = ghostty
	depends = xwayland-satellite
	depends = catos-graphite-gtk-theme>=1.0-3
	depends = tela-circle-icon-theme-all
	depends = catos-bibata-cursor
	source = git+https://github.com/CatOS-dev/catos-niri-dms.git
	sha256sums = SKIP

pkgname = catos-niri-dms
