pkgbase = catos-niri-dms
	pkgdesc = Complete CatOS Niri + DMS Profile
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/CatOS-dev/catos-niri-dms
	arch = any
	license = MIT
	license = GPL
	makedepends = git
	depends = catdot
	depends = niri
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-gnome
	depends = gnome-keyring
	depends = dms-shell-niri>=1.5.3
	depends = catos-niri-utils
	depends = matugen
	depends = adw-gtk-theme
	depends = qt6ct-kde
	depends = qt6-multimedia
	depends = fuzzel
	depends = satty
	depends = wl-clipboard
	depends = fcitx5
	depends = btop
	depends = cava
	depends = cliphist
	depends = cups-pk-helper
	depends = i2c-tools
	depends = power-profiles-daemon
	depends = wtype
	depends = ghostty
	depends = xwayland-satellite
	depends = tela-circle-icon-theme-all
	depends = catos-bibata-cursor
	source = git+https://github.com/CatOS-dev/catos-niri-dms.git
	sha256sums = SKIP

pkgname = catos-niri-dms
