pkgbase = chwd
	pkgdesc = CatOS hardware detection tool
	pkgver = 1.21.0.r9.g8ee72f5
	pkgrel = 4
	url = https://github.com/CatOS-dev/chwd
	arch = x86_64
	groups = catos
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	makedepends = git
	depends = gcc-libs
	depends = pciutils
	depends = lua
	depends = pacman
	depends = base-devel
	depends = paru
	provides = chwd-db
	conflicts = chwd-db
	replaces = chwd-db
	source = git+https://github.com/CatOS-dev/chwd.git
	sha256sums = SKIP

pkgname = chwd
