pkgbase = chwd
	pkgdesc = CachyOS Hardware Detection Tool
	pkgver = 1.21.0.r9.g8ee72f5
	pkgrel = 2
	url = https://github.com/Aromatic05/chwd
	arch = x86_64
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cargo
	makedepends = lld
	makedepends = clang
	makedepends = llvm
	depends = gcc-libs
	depends = pciutils
	depends = lua
	depends = pacman
	depends = base-devel
	depends = paru
	provides = chwd-db
	conflicts = chwd-db
	replaces = chwd-db
	source = https://bdd.invalid/chwd.git
	sha256sums = SKIP

pkgname = chwd
