pkgbase = catos-plymouth-theme
	pkgdesc = CatOS Plymouth theme
	pkgver = 2.0
	pkgrel = 2
	url = https://github.com/CatOS-dev/catos-plymouth-theme
	arch = any
	license = GPL
	makedepends = git
	depends = plymouth
	source = git+https://github.com/CatOS-dev/catos-plymouth-theme.git
	sha256sums = SKIP

pkgname = catos-plymouth-theme
