pkgbase = catos-labwc-settings
	pkgdesc = CatOS ready-to-use Labwc session preset
	pkgver = 1.0.0
	pkgrel = 1
	url = https://www.catos.info/
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = labwc
	depends = swaybg
	depends = waybar
	depends = mako
	depends = wdisplays
	depends = wlopm
	depends = catos-branding
	depends = catos-gtk-settings
	depends = catos-bibata-cursor
	depends = catos-tela-icon-theme-blue
	depends = fuzzel
	depends = foot
	depends = swayidle
	depends = swaylock
	depends = grim
	depends = slurp
	depends = swappy
	depends = wl-clipboard
	depends = brightnessctl
	depends = playerctl
	depends = wireplumber
	depends = network-manager-applet
	depends = blueman
	depends = pavucontrol
	depends = polkit-gnome
	depends = xdg-desktop-portal-wlr
	depends = xdg-desktop-portal-gtk
	depends = xorg-xwayland
	depends = thunar
	depends = xdg-user-dirs
	depends = dbus
	source = https://bdd.invalid/catos-labwc-settings.git
	sha256sums = SKIP

pkgname = catos-labwc-settings
