pkgbase = catos-zsh-config
	pkgdesc = Zsh configuration for CatOS
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/CatOS-dev/catos-zsh-config
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = bat
	depends = expac
	depends = eza
	depends = fastfetch
	depends = libnotify
	depends = pkgfile
	depends = starship
	depends = zoxide
	depends = zsh
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-history-substring-search
	depends = zsh-syntax-highlighting
	optdepends = direnv: per-directory environment integration
	optdepends = hwinfo: hardware summary alias
	optdepends = jq: focused-window detection under Sway
	optdepends = openbsd-netcat: termbin alias
	optdepends = xorg-xprop: focused-window detection under X11
	source = git+https://github.com/CatOS-dev/catos-zsh-config.git
	sha256sums = SKIP

pkgname = catos-zsh-config
