pkgbase = catos-mate-settings
	pkgdesc = CatOS MATE settings
	pkgver = 2.0
	pkgrel = 4
	url = https://catos.info
	arch = any
	license = GPL
	depends = catos-branding
	source = 99_catos-mate.gschema.override
	source = catos.layout
	sha256sums = 8e950faf59983c2f559a2670beccb4784f386f7e9f1cf1c599364d79ebd1e370
	sha256sums = 6880e79f10b70c70e27691582513774d718b98fb53a6e8eed360c9ec9c7393df

pkgname = catos-mate-settings
